<p>Someone has requested to reset the password on the Taguette account associated with this email. If this was you, please follow this link: <a href="{{ link }}">{{ link }}</a></p>

<p>This link will expire in 1 day.</p>
