{% extends "base.html" %}

{% block contents %}
<!-- Tab selector -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link{% if not register %} show active{% endif %}" id="log-in-tab" data-toggle="tab" href="#log-in" role="tab" aria-controls="log-in" aria-selected="{% if not register %}true{% else %}false{% endif %}">Log in</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if not register_enabled %} disabled{% endif %}{% if register %} show active{% endif %}" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register-tab" aria-selected="{% if register %} true{% else %}false{% endif %}">Register</a>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade{% if not register %} show active{% endif %}" id="log-in" role="tabpanel" aria-labelledby="log-in-tab">
    <form action="{{ reverse_url('login') }}" method="post">
      {{ xsrf_form_html() }}
      {% if login_error %}
      <div class="alert alert-danger" role="alert">
        {{ login_error }}
      </div>
      {% endif %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="form-group row">
        <label for="log-in-login" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="log-in-login" name="login" />
        </div>
      </div>
      <div class="form-group row">
        <label for="log-in-password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="log-in-password" name="password" />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" name="log-in" class="btn btn-primary">Log in</button>
          <a href="{{ reverse_url('reset_password') }}" class="btn btn-outline-secondary">Forgot password</a>
        </div>
      </div>
    </form>
  </div>

  {% if register_enabled %}
  <div class="tab-pane fade{% if register %} show active{% endif %}" id="register" role="tabpanel" aria-labelledby="register-tab">
    <form action="{{ reverse_url('register') }}" method="post">
      {{ xsrf_form_html() }}
      {% if register_error %}
      <div class="alert alert-danger" role="alert">
        {{ register_error }}
      </div>
      {% endif %}
      <input type="hidden" name="next" value="{{ next }}" />
      <div class="form-group row">
        <label for="register-login" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="register-login" name="login" />
        </div>
      </div>
      <div class="form-group row">
        <label for="register-password1" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="register-password1" name="password1" />
        </div>
      </div>
      <div class="form-group row">
        <label for="register-password2" class="col-sm-2 col-form-label">Confirm password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="register-password2" name="password2" />
        </div>
      </div>
      <div class="form-group row">
        <label for="register-email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="register-email" name="email" />
          <small>Optional. <em>We will not share your email with anyone. This is only used in case you forget your password.</em></small>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-10 offset-sm-2">
          <button type="submit" name="register" class="btn btn-primary">Register</button>
        </div>
      </div>
    </form>
  </div>
  {% endif %}

</div>

<script type="text/javascript">
// Adapted from https://stackoverflow.com/a/10787789
window.addEventListener('load', function() {
  // Change URI for tabs
  $('#log-in-tab').on('shown.bs.tab', function(e) {
    window.history.pushState({'tab': 'log-in'}, "Log in", '/login');
  });
  $('#register-tab').on('shown.bs.tab', function(e) {
    window.history.pushState({'tab': 'register'}, "Register", '/register');
  });

  window.onpopstate = function(e) {
    if(e.state) {
      if(e.state.tab !== undefined) {
        $('.nav-tabs a[href="#' + e.state.tab + '"]').tab('show');
      }
    }
  };
});
</script>
{% endblock %}
