{% extends "base.html" %}

{% block contents %}
{% if error %}
<div class="alert alert-danger">{{ error }}</div>
{% endif %}

<p>Please enter a new password below:</p>
<form action="{{ reverse_url('new_password') }}" method="post">
  {{ xsrf_form_html() }}
  <input type="hidden" name="reset_token" value="{{ reset_token }}" />
  <div class="form-group row">
    <label for="password1" class="col-sm-2 col-form-label">Password:</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="password1" name="password1" />
    </div>
  </div>
  <div class="form-group row">
    <label for="password2" class="col-sm-2 col-form-label">Confirm:</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="password2" name="password2" />
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10 offset-sm-2">
      <button type="submit" class="btn btn-primary">Set new password</button>
    </div>
  </div>
</form>
<p>If you didn't set an email address, you can try contacting your server administrator.</p>
{% endblock %}
