{% extends "base.html" %}

{% block contents %}
<h1>Delete project: confirm?</h1>
<p class="lead">Title: <span style="font-family: monospace, monospace;">{{ project.name }}</span></p>
<p>Are you sure you want to delete this project? It currently has <strong>{{ documents }} documents and {{ highlights }} highlights in {{ tags }} tags</strong>. There is no way to undo.</p>
<form action="{{ reverse_url('delete_project', project.id) }}" method="post">
  {{ xsrf_form_html() }}
  <div class="form-group ">
    <button type="submit" class="btn btn-danger">Delete forever</button>
    <a href="{{ reverse_url('project', project.id) }}" class="btn btn-secondary">Go back</a>
  </div>
</form>
{% endblock %}
